@charset "utf-8";

.container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    
}

.item-1{
    background-color: blue;
    grid-template-areas: 1 / 2 / 2 / 4;
}

.item-2{
    background-color: brown;
}

.item-3{
    background-color: yellow;
}

.item-4{
    background-color: palegreen;
}

.item-5{
background-color: darksalmon;
}

.item-6{
    background-color: tomato;
}

.item-7{
    background-color: black;
}

.item-8{
    background-color: darkmagenta;
}

.item-9{
background-color: darkblue;
}
