
		/* configuração genérica de classe */
		.minha-classe {
			font-size: 18px;
			color: blue;
		}
		
		/* aplicação de classe a um elemento específico */
		#elemento-especifico .minha-classe {
			color: red;
		}
		
		/* aplicação de classes dupla a outro elemento */
		.outro-elemento.classe-1.classe-2 {
			background-color: yellow;
			border: 1px solid black;
		}