@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 80%;
    margin: auto;
    padding: 30px;
    font-size: 25px;
    font-family: 'Special Elite', cursive;
}

.divpai{
    border: 2px solid #000;
    height: 400px;
}

img{
    width: 300px;
    height: 200px;
}

#img01{
    float: left;
}

#img02{
    float: right;
}

#img03{
}
/* https://fonts.google.com/specimen/VT323 */